* {
  font-family: sans-serif;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

.board {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  background-image: url("Office_2.png");
  background-position: center;
  background-size: cover;
}

/* ---- BOARD ---- */
.lanes {
  align-items: flex-start;
  /* justify-content: start; */
  /* margin: 8px; */

  margin: 0px;
  padding-top: 12px;

  overflow: scroll;
  height: 100%;
  width: 100%;
}

.heading {
  font-size: 22px;
  font-weight: bold;
  padding-top: 12px;
  margin-bottom: 8px;
}

.swim-lane {
  background: #f4f4f4;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  min-height: 120px;
}

.task {
  box-sizing: border-box;
  background: rgb(245, 245, 245);
  color: black;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);

  padding: 12px;
  border-radius: 6px;

  font-size: 16px;
  cursor: move;
  margin-bottom: 8px;
  width: 100%;
  resize: none;
}

.is-dragging {
  scale: 1.05;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: rgb(50, 50, 50);
  color: white;
}

#todo-lane {
  background-color: rgba(238, 7, 7, 0.7);
}

#doing-lane {
  background-color: rgba(255, 229, 126, 0.7);
}

#done-lane {
  background-color: rgba(130, 224, 170, 0.7);
}

.tools {
  flex-direction: row-reverse;
  width: 100%;

  position: fixed;
  margin-top: -80px;
}

#svg_div {
  width: 80px;
}

#svg_div2 {
  width: 80px;
}

.text {
}
